/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

h1, h2, h3 {
  color: #00CC89;
  margin-top: 30px;
}

header {
  background: linear-gradient(135deg, #007bff, #00d084);
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: nowrap; /* Prevent h1 from wrapping */
  padding: 0 50px;
  color: #ffffff;
}

.nav-categories {
  display: flex;
  flex-grow: 1; /* Allow nav-categories to grow to fill available space */
  flex-shrink: 0; /* Prevent nav-categories from shrinking */
  justify-content: flex; /* Align links to the right */
  gap: 15px;
  padding: 0 50px;
}

.nav-categories a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #007EFC;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-categories a:hover {
  background-color: #24bb72;
}

main {
  padding: 2rem 1rem;
}

#content {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

article {
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#markdown-content {
  width: 80%;
  margin: 0 30px;
  border-right: 1px solid #ddd;
}

#toc {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 6px; /* 当用户滚动时，目录距离页面顶部的距离 */
  height: fit-content;
}

/* 不同级别的标题导航对应不同的缩进 */
#toc .toc-h1 {
  padding-left: 0;
}

#toc .toc-h2 {
  padding-left: 20px;
}

#toc .toc-h3 {
  padding-left: 40px;
}

#toc ul {
  list-style-type: none;
  padding: 0;
}

#toc ul li {
  margin: 5px 0;
}

#toc ul li a {
  text-decoration: none;
  color: #007bff;
}

#toc ul li a:hover {
  text-decoration: underline;
}


footer {
  background: linear-gradient(135deg, #765bfb, #7ec7f9); /* Gradient background */
  color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  /*position: fixed; 固定 */
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  border-top: 1px solid #f0e5d8; /* Light border for contrast */
}

/* Code and Preformatted Text */
code {
  background: #f4f4f4;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

pre {
  background: #282c34;
  color: #abb2bf;
  padding: 1rem;
  border-radius: 4px;
  overflow: auto;
  font-size: 0.9rem;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  main {
    padding: 1rem;
  }

  article {
    padding: 1rem;
  }
}


